<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.scorpio.BroadcastReceiver"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".Level1Receiver">
            <intent-filter android:priority="1000">
                <action android:name="com.example.scorpio.BroadcastReceiver.songwennuan"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".Level2Receiver">
            <intent-filter android:priority="500">
                <action android:name="com.example.scorpio.BroadcastReceiver.songwennuan"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".Level3Receiver">
            <intent-filter android:priority="100">
                <action android:name="com.example.scorpio.BroadcastReceiver.songwennuan"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".FinalReceiver">
            <intent-filter android:priority="0">
                <action android:name="com.example.scorpio.BroadcastReceiver.songwennuan"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
